@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Pushster', cursive;
}

body {
    background-color: black;
    height: 100vh;
    padding-top: 1px;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 1rem;
}

.display {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.display1 {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.display2 {
  color: white;
  font-size: 19px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}


.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 300px;
}

.case {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    color :#ffffff;
    background-color: black;
}



.playerX {
    color: #881c4f;
}

.playerO {
    color: #608ad4;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}


.reset {
    background-color: #460b17;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 2rem;

    &hover {
      background-color: #b25b6d;
      color: white;
      padding: 8px;
      border-radius: 8px;
      border: none;
      font-size: 20px;
      cursor: pointer;
      margin: 2rem;
    }
}
.playerName {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin: 1rem;
}

.winner{
    color : rgb(212, 212, 137);
    text-shadow: 0px 0px 10px rgb(206, 206, 143);
    animation-duration: 3s;
    animation-name : grow-up;
     animation-iteration-count: infinite;
}

@keyframes grow-up {
  from {
    scale: 1;
  }
  50% {
    scale : 2
  }

  to {
    scale: 1
  }
}